<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="forecastApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Weather</title>
    <meta name="description" content="Starter HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

  </head>
  <body class="dark" ng-controller="locationController">

    <header role="banner" class="branding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="brand">
              <a href="index.html">
                <svg class="svg-brand" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="126px" height="75px" viewBox="0 0 126 74.999" enable-background="new 0 0 126 74.999" xml:space="preserve">
                  <!-- Earth -->
                  <circle class="svg-earth" fill="none" stroke="" stroke-width="5" stroke-miterlimit="10" cx="63.023" cy="37.035" r="29.19"/>
                  <!-- Moon Orbit -->
                  <ellipse class="svg-moon-orbit" transform="matrix(0.9168 0.3992 -0.3992 0.9168 20.1263 -22.3979)" opacity="0.2" fill="none" stroke="" stroke-width="3" stroke-miterlimit="10" cx="63.831" cy="37.116" rx="51.803" ry="13.518"/>
                  <!-- Moon Orbit Path -->
                  <path id="theMotionPath" fill="none" d="M16.026,15.332c0,0-5.693,14.667,38.474,33.667s55.271,12.999,57.136,10.833S115.5,42.833,72.5,24.666S19.052,12.665,16.026,15.332z"/>
                    <!-- Moon -->
                    <circle class="svg-moon" fill="" cx="" cy="" r="9">
                      <!-- Animation Path -->
                      <animateMotion dur="30s" repeatCount="indefinite">
                        <mpath xlink:href="#theMotionPath"/>
                      </animateMotion>
                    </circle>
                </svg>
                <h1>Weather Forecast</h1>
              </a>
            </div>
            <input type="text" ng-model="location" class="location" name="location" placeholder="Enter zip code" />
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">

        <alert ng-if="alert" type="{{alert.type}}">
          <p>{{alert.message}}</p>
        </alert>

        <h3 class="note">Please note that this is a work in progress and the zip code is currently hard coded into the API call, so the input field does not work (Next Step).</h3>

        <div class="col-sm-8 forecast--main">
          <div today></div>
        </div>

        <div class="col-sm-4 forecast--sidebar">
          <div forecast></div>
        </div>
      </div>
    </div>

    <footer role="contentinfo" class="footer">
      <div class="container">
        <div class="row">
          <p>View and download the <a href="icons.html" title="SVG weather icons">SVG weather icons</a>.</p>
          <p><small>A JavaScript weather project by <a href="http://mikecarretta.github.io" title="Mike Carretta Github Page">Mike Carretta</a> - <a href="http://opensource.org/licenses/MIT">MIT License</a> <time datetime="2014">2014</time>. Data provided by the <a href="http://www.wunderground.com/weather/api/" title="Weather Underground API">Weather Underground API</a>. Photo by <a href="https://twitter.com/koucik">Martin Staněk</a> from <a href="http://unsplash.com/">Unsplash</a>.</small></p>
        </div>
      </div>
    </footer>
    <!-- vendor js -->
    <script src="assets/js/vendors/angular.min.js"></script>
    <script src="assets/js/vendors/jquery.min.js"></script>
    <script src="assets/js/vendors/jquery.backstretch.min.js"></script>

    <script src="assets/js/app.js"></script>

  </body>
</html>