/**
 * CONTENTS
 *
 * #Settings
 * Global...............Globally-available variables and config.
 *
 * #Typography
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

/*------------------------------------*\
    #Base
\*------------------------------------*/
body {
  background-color: #185499;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/*------------------------------------*\
    #Typography
\*------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400, 600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 40rem) {
  html { font-size: 112%; }
}
@media (min-width: 64rem) {
  html { font-size: 120%; }
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*------------------------------------*\
    #Wrapper
    small : 24em; med : 46.8em; large : 50em; xl : 73em;

    Media Query breakpoints
    small: 25em; 400px
    Med: 43.75em; 700px
    large: 56.25em; 900px
    x-large: 81.25em; 1300px
\*------------------------------------*/
/*Default styles*/
.container {
  max-width: 90em;
  margin: 0 auto;
  padding: 0 2em;
}

@media screen and (min-width: 24em) {
  .container {
    max-width: 50em;
  }
}

@media screen and (min-width: 50em) {
  .container {
    max-width: 50em;
  }
}

/*------------------------------------*\
    #Banner
\*------------------------------------*/
.switch {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em 1em 0 0;
}
/*------------------------------------*\
    #Input Field
\*------------------------------------*/
.brand {
  margin: 1em 0 2em 0;
}
  .brand svg {
    float: left;
    margin-right: 1em;
    padding-bottom: 1em;
    width: 80px;
  }
  .brand h1 {
    padding-top: .5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
  }
  .icons .brand h1 {
    color: #3d3d3d;
  }
  .brand a:hover {
    text-decoration: none;
    color: #222;

  }
/*------------------------------------*\
    #Brand SVG Icon
\*------------------------------------*/
.dark .svg-earth,
.dark .svg-moon-orbit  {
  stroke: #FFFFFF;
}
  .dark .svg-earth:hover,
  .dark .svg-moon-orbit:hover  {
    stroke: #d1d1d1;
  }
.dark .svg-moon {
  fill: #FFFFFF;
}
  .dark .svg-moon:hover {
    fill: #d1d1d1;
  }

.icons .svg-earth,
.light .svg-earth,
.icons .svg-moon-orbit,
.light .svg-moon-orbit  {
  stroke: #3d3d3d;
}
  .icons .svg-earth:hover,
  .light .svg-earth:hover,
  .light .svg-moon-orbit:hover  {
    stroke: #3d3d3d;
  }
.icons .svg-moon,
.light .svg-moon {
  fill: #3d3d3d;
}
  .icons .svg-moon:hover,
  .light .svg-moon:hover {
    fill: #3d3d3d;
  }
/*------------------------------------*\
    #Input Field
\*------------------------------------*/
.location {
  width: 100%;
  padding: .5em 0;
  margin: 0;

  border-radius: 10px;
    -webkit-box-shadow:inset 1px 1px 1px 1px rgba(0,0,0,.1);
            box-shadow:inset 1px 1px 1px 1px rgba(0,0,0,.1);
  border: none;

  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}
  .light .location {
    color: #515151;
    background-color: rgba(255,255,255,.6);
  }
  .dark .location {
    color: #fff;
    background-color: rgba(255,255,255,.1);
  }
/*------------------------------------*\
    #Forecast Column--Main
\*------------------------------------*/
/* Remove the padding for the columns for desktop and tablet */
@media (min-width: 768px) {
  .forecast--main {
    padding-right: 0;
  }
  .forecast--sidebar {
    margin-top: 83px;
    padding-left: 0;
  }
}

.forecast {
  min-height: 480px;
  border-radius: 10px;
  margin: 2em 0;
  padding: 0;
  text-align: center;
}
  .light .forecast {
    background-color: rgba(255,255,255,.8);
  }
  .dark .forecast {
    background-color: rgba(255,255,255,.6);
  }
  p.forecast--city {
    margin: 0;
    padding: .7em 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255,255,255,.5);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #222;
  }
  p.forecast--date {
    margin: 0;
    padding: .5em 0;
    background-color: rgba(255,255,255,.3);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
  }
  .forecast--temp {
    margin: 0 0 .1em 0;
    padding: .1em 0 0 0;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 7em;
    color: #222;
    text-shadow: 0 1px 1px #FFFFFF;
  }
  .forecast--temp small {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 75%;
    color: #666;
  }
/*------------------------------------*\
    #Weather Icons
\*------------------------------------*/
.forecast--icon {
  position: relative;
  width: 100%;
  height: 220px;
}
.partlycloudy { background: url('../../assets/icons/Partly_Sunny_2.svg') top center no-repeat transparent;}
.sunny { background: url('../../assets/icons/Sun.svg') top center no-repeat transparent; }
.raining { background: url('../../assets/icons/Rainstorm.svg') top center no-repeat transparent; }
.lightning { background: url('../../assets/icons/Lightning_1.svg') top center no-repeat transparent; }

/*------------------------------------*\
    #Extended Forecast Column--Sidebar
\*------------------------------------*/
.x-forecast {
  min-height: 125px;
  border-radius: 10px 10px 10px 10px;
  margin: 0 0 2px 2px;
  padding: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .x-forecast {
    border-radius: 0 10px 10px 0;
  }
}
  .light .x-forecast {
    background-color: rgba(255,255,255,.8);
  }
  .dark .x-forecast {
    background-color: rgba(255,255,255,.6);
  }

  .x-forecast--date {
    margin: 0;
    padding: .5em 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255,255,255,.3);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
  }
  @media (min-width: 768px) {
    .x-forecast--date {
      border-radius: 0 10px 0 0;
    }
  }
  .x-forecast--temp {
    padding: .4em 0 .4em .1em;
    float: left;
    width: 50%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #222;
    text-shadow: 0 1px 1px #FFFFFF;
  }
  .x-forecast--temp small {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 75%;
    color: #666;
  }
  .forecast--sidebar .row  {
    margin: 0;
  }
  .x-forecast--icon {
    position: relative;
    float: right;
    width: 50%;
    height: 60px;
    background-size: 80px 60px;
  }
/*------------------------------------*\
    #Footer
\*------------------------------------*/
footer {
  padding: 1em 5em;
}
  footer p {
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
    color: #a8a8a8;
  }
footer .photo-attribute {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1em 1em 0;
}