.icons {
  background-color: #fff;
}
.icons .wrapper {
  margin: 1em 0;
}
  .sun-icons { background-color: #76ABE9; }
  .cloud-icons { background-color: #4A90E2; }
  .storm-icons { background-color: #4A90E2; }
  .rain-icons { background-color: #4A90E2; }
  .snow-icons { background-color: #185499; }
  .night-icons { background-color: #061527; }

figure {
  margin: 1.5em .8em 1.5em 0;
}
  .content figure {
    float: left;
  }
  .content img {
    width: 100px;
  }
  @media screen and (min-width: 480px) {
    .container {
      width: 390px;
    }
  }
.button {
  margin: 1.2em 0 1.5em 0;
  text-align: center;
}
/*------------------------------------*\
  #Bootstrap Overwrite
\*------------------------------------*/
.btn-default {
  color: #061527;
  background-color: #fff;
  border-color: #185499;
}
.btn-default:hover {
  color: #fff;
  background-color: #4A90E2;
}